.loader {
  color: #000;
  display: inline-block;
  position: relative;
  left: 50%;
  translate: -50%;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

.loader.hide {
  display: none;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(0, 0, 0, 0), 20px 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 10px 0 black, 20px 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 10px 0 black, 20px 0 black;
  }
}
